<header class='top-page-header'>
  <div class='haeder-title'>
  <%= image_tag("gachagacha.png", class:"gacha-icon")%>
    <h1>ガチャシミュレーション</h1>
  <%= image_tag("gachagacha.png", class:"gacha-icon")%>
    <div class='sub-title'>どうして<span>ガチャ</span>は当たらないのか</div>

  </div>  
  
</header>