<header class='top-page-header'>
  <div class='title'>
  <%= link_to image_tag("gachagacha.png", class:"gacha-icon")%>
    <h1>ガチャシミュレーション</h1>
  <%= link_to image_tag("gachagacha.png", class:"gacha-icon")%>
  </div>  
</header>

<body>
        <form action="/post" method="post" name="rare" class="form-inline">
          <button type="submit" name="rare" class="btn btn-default">レアガチャを回す</button>
        </form>

        <form action="/post" method="post" name="10rare" class="form-inline">
          <button type="submit" name="10rare" class="btn btn-default">10 連レアガチャを回す</button>
        </form>

        <form action="/post" method="post" name="reset" class="form-inline">
          <button type="submit" name="reset" class="btn btn-default">リセットする</button>
        </form>
</body>