<%= render partial: "header" %>

<div　class='title'>
  <h1>実際のソシャゲでガチャが回せないそこのあなた！！</h1>
  <p>
  少しでもそのガチャ欲をシミュレーションで紛らわして見ませんか。
  </p>
  <p>また欲しいものを素振りして引き当てたい人もぜひお使いください。</p>
</div>


<form  class="form-inline">
  <button type="submit" name="rare" class="btn btn-default">レアガチャを回す</button>
</form>

<form  class="form-inline">
  <button type="submit" name="10rare" class="btn btn-default">10 連レアガチャを回す</button>
</form>

<form  class="form-inline">
  <button type="submit" name="reset" class="btn btn-default">リセットする</button>
</form>



<%= render partial: "footer" %>