<%= render partial: "header" %>
<div class='title-contents'>


  <h1 class='main-title'>実際のソシャゲでガチャが回せないそこのあなた！！</h1>
  <ul class='main-message'>
    <li>少しでもそのガチャ欲をシミュレーションで気を紛らわして見ませんか？</li>
    <li>また欲しいものを素振りして引き当てたい人もぜひお使いください。</li>
    <li>欲望のままに気が済むまでガチャを回すのです・・・</li>
  </ul>
  
   
  <form class="form-inline">
    <button type="submit" name="10rare" class="btn-default">10 連レアガチャを回す</button>
  </form>

  <form class="form-inline">
    <button type="submit" name="reset" class="btn-default-reset">リセットする</button>
  </form>
</div>



<%= render partial: "footer" %>